body{
    align-items: center;
    text-align: center;
    margin: auto;

}
h1{
    text-align: center;
}

textarea{

    height: 200px;
    width: 50%;
    padding: 20px;
    border: 2px solid chocolate;
    display: flex;
    align-items: center;
    margin: auto;
    

}
button {
    gap: 20px;
    text-align: center;
    padding: 15px;
    width: 100px;
    height: 50px;
background-color: blueviolet;
color: antiquewhite;
margin-top: 30px;
}
#result {
font-size: 250%;
margin-top: 30px;
}

